body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7d8e5;
  }
  
  .container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px; /* Increase padding for more space */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #cc317c;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .no-button {
    background-color: #f44336;
    color: #ffffff;
  }
  
  .no-button.increase-size {
    transform: scale(2);
  }
  
  .yes-button {
    background-color: #4caf50;
    color: #ffffff;
  }
  