body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7d8e5;
  background-image: url("");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5vw; /* Use percentage-based padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 70vh;
  width: 70vw;
}

#container-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h1 {
  font-size: 2.5vw; /* Use percentage-based font size */
  color: #cc317c;
}

button {
  padding: 3vw 5vw; /* Use percentage-based padding */
  font-size: 2vw; /* Use percentage-based font size */
  margin: 2vw;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.no-button {
  background-color: #f44336;
  color: #ffffff;
}

.yes-button.increase-size {
  transform: scale(1.5);
}

.yes-button {
  background-color: #4caf50;
  color: #ffffff;
}

/* Media query for smaller devices */
@media (max-width: 600px) {
  .container {
    height: 80vh;
    width: 80vw;
  }

  h1 {
    font-size: 4vw;
  }

  button {
    padding: 5vw 7vw; /* Adjust button padding for smaller screens */
    font-size: 3vw;
  }
}

/* Media query for small mobile screens */
@media (max-width: 400px) {
  .container {
    height: 90vh;
    width: 90vw;
  }

  h1 {
    font-size: 5vw;
  }

  button {
    padding: 6vw 8vw; /* Further adjust button padding for smaller screens */
    font-size: 4vw;
  }
}
