body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7d8e5;
}
#container-button {
  display: flex;
}
.container:hover {
  background-image: url("https://media.tenor.com/NRwD0WseIdMAAAAj/jump-love.gif");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100vh;
  height: auto; /* Adjust width for larger screens */
  max-width: 600px; /* Set maximum width for small screens */
}

h1 {
  font-size: 2rem;
  color: #cc317c;
  margin-bottom: 20px;
}

button {
  padding: 15px 30px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff4d6e;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d32f4a;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .container {
    width: 90%; /* Adjust width for medium-sized screens */
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 95%; /* Adjust width for small screens */
  }
  button {
    padding: 12px 24px;
    font-size: 0.9rem;
  }
}
